[2017-10-23 04:40] keithbentrup opened #59 "Deleting var/log while still writing to var/log/cloud.log"
During the build phase of m2-ece-build, one of the build processes attempts to delete the var/log dir while another process still has var/log/cloud.log open for writing.

On an NFS system, this will cause an .nfsXXX file to be created when cloud.log is unlinked from one process while the other is still running. Consequently, a file system exception is thrown, and m2-ece-build is aborted.

While th

[2017-10-26 13:39] keithbentrup opened #64 "Dubious decision to continue after patching fails"
The script m2-ece-build applies patches via m2-apply-patches, but, unlike m2-apply-patches, m2-ece-build will continue execution after the first patch that can not be applied and a runtime exception is thrown.

**m2-ece-build should either stop immediately OR attempt to apply all the remaining patches.** The current implementation means some patches may be applied and some may not, and the warning

[2017-10-30 09:55] #64 closed, assigned to nobody

[2017-11-03 12:06] keithbentrup opened #78 "AdminCredentials class updates wrong user"
The AdminCredentials class [updates the 1st user in the `admin_user` table](https://github.com/magento/ece-tools/blob/7480c236662251a51a06f798223c44e03f0c7dd0/src/Process/Deploy/InstallUpdate/Update/AdminCredentials.php#L99). This is clearly wrong.

Since the admin user of `magento setup:install` is installed as one of the last actions of the install process, any users added by modules during inst

[2017-11-03 12:19] keithbentrup opened #79 "AdminCredentials class should throw an exception when updating an already used username"
[AdminCredentials issues only a warning to an unseen log file when a user updates ADMIN_USERNAME to one that is already used.](https://github.com/magento/ece-tools/blob/7480c236662251a51a06f798223c44e03f0c7dd0/src/Process/Deploy/InstallUpdate/Update/AdminCredentials.php#L67)

Since `username` is unique in `admin_user`, having 2 users with the same username will never be valid and an exception shou

[2017-11-03 14:47] keithbentrup opened #81 "Don't automatically apply env values to all branches on unrelated updates"
Currently, env vars are always inherited in branches on ECE. AFAIK, we can not change that behavior or distinguish between an inherited value and an overridden value at the moment. We can change how we handle env vars, though.

Changing certain vars (e.g password) only makes sense per env. If a user branches master, and another user changes the admin password in master, eventually the password wil

[2017-11-03 20:38] keithbentrup opened #82 "Empty commit should trigger m2-ece-deploy"
As a user, when I run `git commit -m "redeploy" --allow-empty; git push`, m2-ece-delpoy should run. Instead, I get a message about `Reusing existing build for this tree ID.` and m2-ece-deploy does not attempt to run.

If I'm committing an empty commit, it's probably because the previous push failed for 1 of many possible reasons, and m2-ece-deploy should be rerun.

Obviously, it's not required for

[2017-12-27 13:00] #59 closed, assigned to nobody

[2017-12-27 13:02] #81 closed, assigned to nobody

[2018-04-03 17:13] #79 closed, assigned to nobody

[2018-05-07 12:16] #82 closed, assigned to nobody

[2018-05-08 13:21] #78 closed, assigned to nobody

[2018-08-17 01:11] gamort opened #342 "ElasticSearch Version Validation occurs too late"
By the time the ES Version check occurs, the new code has been deployed and db schema upgrades have been executed.   Aborting deployment at this point will also abort static file generation - leaving a website half deployed.

The Cloud UI indicates the deployment is successful.   Only if someone actually checks the var/log/cloud.log file will they realize something is wrong.

As such, it should ne

[2018-08-23 09:44] #342 closed, assigned to nobody

[2019-01-17 14:13] phoenix-bjoern opened #409 "Dependency to redis-cli"
When defining the Redis connection in the cloud environment variable MAGENTO_CLOUD_RELATIONSHIPS and run `vendor/bin/ece-tools deploy` the class `Magento\MagentoCloud\Process\Deploy\PreDeploy\CleanRedisCache` will try to execute a shell command using `redis-cli`.

Since we use a different Docker setup this binary is missing and the deployment fails. IMHO `redis-cli` is an unnecessary dependency of

[2019-01-17 14:37] phoenix-bjoern commented on #409
Created a pull request https://github.com/magento/ece-tools/pull/410

[2019-01-17 14:37] #409 closed, assigned to nobody

[2019-02-18 16:58] phoenix-bjoern opened #419 "[ECE-Tools] Conditionally Execute setup:upgrade During Deployment"
During deploy phase `bin/magento setup:upgrade --keep-generated` is executed every time. This increase time necessary for actual deployment.
Magento 2.2 introduce the command `bin/magento setup:db:status` to check whether an upgrade is required or not.

Couldn't add this check in `vendor/magento/ece-tools/src/Process/Deploy/InstallUpdate/Update/Setup.php` to reduce unnecessary maintenance time?

F

[2019-02-19 11:52] phoenix-bjoern opened #420 "MAGECLOUD-2956 still unresolved / Yaml::PARSE_CONSTANT"
In our setup we've symfony/yaml v2.8.45 installed. Although some work has been done to poke around this issue I still get a PHP fatal error:

{code}Fatal error:  Uncaught Error: Undefined class constant 'PARSE_CONSTANT' in /var/www/html/vendor/magento/ece-tools/src/Config/Environment/Reader.php:58{code}

So MAGECLOUD-2956 is still unresolved.

[2019-02-19 12:02] phoenix-bjoern commented on #420
Sorry, issue is present in composer package, not in the master branch. Issue is resolved.

[2019-02-19 12:02] #420 closed, assigned to nobody

[2019-02-19 18:21] YPyltiai commented on #419
Hi @phoenix-bjoern , thanks for posting this request! We'll review it and will get back to you with comments. Last time we looked at using this approach, I remember something stopped us from proceeding.

@kandy , would love to hear your thoughts on it. I believe we discussed it before but there were some concerns on following this path.

[2019-02-21 18:53] YPyltiai commented on #419
Internal ticket to review this approach created under ID: `MAGECLOUD-3183`

[2019-04-22 16:14] arhiopterecs commented on #419
This is not necessary since the command checks the compliance of the versions of the modules and starts the upgrade process only in case the version of the module in the configuration is higher than the version of the installed module.
In case if the versions of the modules did not change, then the command is executed approximately ~ 3 seconds. (2.972687959671 - 3.31223487854 sec)

[2019-04-22 16:24] YPyltiai commented on #419
Hi @phoenix-bjoern ,

Please see the result of investigation above. Did you experience some different results?
If so, may you please share version of core you used?

Thanks,
Yevhenii

[2019-04-26 11:35] phoenix-bjoern commented on #419
@YPyltiai for those 3 seconds the maintenance mode is enabled although not necessary. At the end we are seeking for zero downtime during deployment which isn't possible if a lot of stuff is done which is relevant while the shop is down.

[2019-04-26 11:40] phoenix-bjoern opened #454 "pub/static/.htaccess file is deleted by StaticContentCleaner"
During deployment pub/static/.htaccess is deleted when SCD_ON_DEMAND=true is set. This is because the whole directory "static" is cleaned without any excludes.

Without the .htaccess file Apache doesn't generate the static content on the fly as intended by the SCD_ON_DEMAND setting.

Adding ".htaccess" to the exclude array would resolve this issue.

[2019-04-26 14:44] shiftedreality commented on #454
Hello @phoenix-bjoern,

Could you describe the usage of Apache on your project?
We don't use it on Cloud and there may be some other places which we didn't cover because of this.

[2019-04-26 14:47] YPyltiai commented on #419
@phoenix-bjoern , based on our review `bin/magento setup:db:status` will take nearly the same amount of time as an empty `bin/magento setup:upgrade`, when there are no DB changes required. We also queue connections for those 3 seconds of delay, so you won't hit 503 anyway in both cases. At this point we are not sure that we want to make logic more complicated there with no immediate benefits as an

[2019-04-26 22:47] phoenix-bjoern commented on #454
@shiftedreality not sure if I get you question correct. We have an Apache + mod_php setup. Since the Magento specific settings are defined the the .htaccess files located in pub/.htaccess and pub/static/.htaccess the behavior defined in this files won't be triggered if they are aren't present. The results are 404 errors and others. So, not having the .htaccess files will not allow to run the appli

[2019-04-29 20:24] YPyltiai commented on #454
This issue will be addressed in scope of #455 and `MAGECLOUD-3545`.
Closing issue in favor of #455

[2019-04-29 20:24] #454 closed, assigned to nobody

[2019-04-29 20:34] YPyltiai opened #461 "[ECE-Tools] Removed index.php from the URL Breaks Multi-website Setup"
Internal ID: `MAGECLOUD-3496`

### Background:
- We've found a regression bug caused by #430

### Steps to reproduce:
#### Pre-conditions:
- Url Rewrite is enabled
- websites were configured in *magento-vars.php*
- websites have the same domain. Websites differ by path of URI (https://mydomain.com/website1/, https://mydomain.com/website2/, etc)

#### Expected result:
- every URL is generated witho

[2019-04-29 20:39] YPyltiai opened #462 "[ECE-Tools] Move Service Version Validation Higher and Merge ES/PHP Validation"
Internal ID: `MAGECLOUD-3535`

### Background:
* We recently added global version mapping for docker build here: #445
** After task completion we realized that this should be moved to the higher level to be used globally instead of being a Docker-specific validation
* We also have few cases of validating stack parts separately according to some custom logic:
** PHP: #396
** ES: #308 + #336

### AC

[2019-04-29 20:42] YPyltiai opened #463 "Refactor Shell Implementation"
Internal ID: `MAGECLOUD-3475`

### Summary

The current implementation of Shell does not expect to have non-zero output from the command. This affects few commands which can return different codes like **setup:db:status**.

### Proposal

We should use Symfony/Process component which has very good support and structure:

[code]

Our Shell will create an instance of Process and run it with **mustRun

[2019-04-29 20:45] YPyltiai opened #465 "Prefixes for DB Tables are not Supported"
Internal ID: `MAGECLOUD-2901`

### Background:
* You can set up table prefixes via DATABASE_CONFIGURATION & _merge option but those look to be not supported during deployment, causing issues.

### To Do:
* Investigate if table prefixes can be supported on Cloud & current infrastructure
* If yes - evaluate possible drawbacks / known restrictions or issues which can arise
* If adding table prefixes

[2019-04-29 20:53] YPyltiai opened #466 "Fix an Issue with db-dump Command Related to DEFINERS"
Internal ID: `MAGECLOUD-3510`

### Background:
Very often users are facing a problem when they can't import the dumped database as it contains DEFINERS *user@host* that doesn't match in different environments.

### To Do:
- Replace all DEFINERS after mysqldump command:
[code]
- It can be implemented as an option which is true by default.

[2019-04-29 20:58] YPyltiai opened #467 "[ECE-Tools] Decrease Log Level for Shell Commands to Debug in cloud.log"
Internal ID: `MAGECLOUD-3277`

### Background:
We always display information about shell command which we execute and sometimes it's not needed in cloud.log with INFO log level:
```INFO: echo 'Installation time: '$(date) | tee -a /app/var/log/install_upgrade.log```

### To Do:
* Change log level for similar entries to DEBUG to reduce noise in cloud.log

[2019-04-29 21:04] YPyltiai opened #468 "Fix an Issue with Unrelated Warning Messages Appearing alongside Critical Error"
Internal ID: `MAGECLOUD-3178`

### Background:
- If configuration includes critical and warning errors it will be shown in logs like this:
[code]
- In this example version of php isn't critical but located in critical section. Such behavior can lead to confusion.

### Step to reproduce:
- Configure environment to have validation fail with critical and warning
- Check logs

#### Expected result
[co

[2019-04-29 21:11] YPyltiai opened #469 "Setting UPDATE_URLS to TRUE is not Possible for Some Environments"
Internal ID: `MAGECLOUD-2824`

### Background:
- It is not possible to have the deploy variable **UPDATE_URLS** set to true for Master/Staging/Production environment on Cloud, since by design URLs cannot be changed for those environments
- URLs are also not updated if you branch from any of these environments, causing redirect loop

### To Do:
* Look if behavior of **UPDATE_URLS** can be changed t

[2019-04-29 21:16] YPyltiai opened #470 "[ECE-Tools] Cache Warm-up Fails if base_url isn't Set in Database"
Internal ID: `MAGECLOUD-3075`

### Background:
- The following error appears if base_url isn't set in a database:
[code]
- The base_url might be set in files (config.php, env.php) or in the environment variables

### To Do:
- Add an ability to retrieve the base_url from other sources
- Add the option for disabling the cache warm-up

[2019-04-29 21:25] YPyltiai opened #471 "[ECE-Tools] Add List of Modules which were Enabled by module:refresh Command to cloud.log"
Internal ID: `MAGECLOUD-2514`

### Background:
- In scope of #249 we added possibility to enable new modules same way as we do in ECE-Tools using CLI command but it's unclear for users which modules were enabled. Right now we see the following messages in log:
[code]

### To Do:
* Add a detailed log with list of enabled modules to output

[2019-04-30 17:15] YPyltiai opened #473 "[ECE-Tools] Add Command to Display Values from Encoded Environment Variables"
Internal ID: `MAGECLOUD-3451`

### Background:
- We have a list of encoded variables on Cloud:
-- MAGENTO_CLOUD_RELATIONSHIPS
-- MAGENTO_CLOUD_ROUTES
-- MAGENTO_CLOUD_VARIABLES
- For better user experience, we need to add a command to ECE-Tools to show the values of those variables in a decoded format

### To Do:
- Add new command to display values of environment variables in an easier way than us

[2019-05-01 14:15] YPyltiai commented on #463
Resolved in #475

[2019-05-01 14:15] #463 closed, assigned to nobody

[2019-05-01 19:54] YPyltiai commented on #465
Resolved by #477

[2019-05-01 19:54] #465 closed, assigned to nobody

[2019-05-03 14:50] YPyltiai commented on #466
Fixed in #482

[2019-05-03 14:50] #466 closed, assigned to nobody

[2019-05-06 06:00] vkerkhoff commented on #473
@YPyltiai Is this available to create or is there already someone working on this? Any thoughts on how to display the information (like a formatted table or is a JSON output good enough), option to select which variable to display (or command per variable) and an option to show specific data within the variables?

[2019-05-06 13:26] andriyShevtsov commented on #473
As far as I know nobody working on it yet. You can take this task if you want.

[2019-05-06 14:00] YPyltiai commented on #473
@vkerkhoff JSON should be fine to start with as for me but we can look at options. For the command itself - I assume that having one command is better with possibility to provide argument which will define, which variables to decode.

@shiftedreality , since it was your proposal, do you have any comments on the above or you see it the same way?

CC: @oshmyheliuk , you may also have some inputs.

[2019-05-06 14:03] shiftedreality commented on #473
I would try with Symfony's Table component. If it does not work - try with pretty json or pretty yaml

[2019-05-06 14:05] YPyltiai commented on #468
Resolved in #484

[2019-05-06 14:05] #468 closed, assigned to nobody

[2019-05-06 14:09] oshmyheliuk commented on #473
I think Symfony Table won't work for displaying cloud configuration. It's better to use yaml or json.
We have thoughts to create one command with arguments, for example:
[code]
Name `cloud:config` can be different but it should somehow emphasize which type of configuration it will return.

[2019-05-06 19:53] vkerkhoff commented on #473
Ok, thanks! Will try to setup an initial implementation in the next few days and create a PR when ready.

[2019-05-07 11:28] vkerkhoff commented on #473
I created a PR for this, it displays it in a table format which is easily readable. I didn't add any tests yet, let me know if this is what you were looking for so I see if I can also add some tests to it.

[2019-05-08 15:25] YPyltiai commented on #469
Resolved in #487

[2019-05-08 15:25] #469 closed, assigned to nobody

[2019-05-10 14:13] YPyltiai opened #492 "[ECE-Tools] Cache Warm-up, Using RegEx to Warm-up Multiple Pages"
Internal ID: `MAGECLOUD-3258`

**As** a Magento Cloud user, **I want** to warm-up multiple pages of the same type without changing the configurations significantly, **so** I can be sure that new pages are pre-warmed OOTB once needed.

**To Do:**
* Add possibility to warm-up multiple pages which fit the RegEx (example: pre-warm all category pages)

[2019-05-10 14:21] YPyltiai opened #493 "[ECE-Tools] Add Split DB Support"
Internal ID: `MAGECLOUD-3287`

**As** a Magento Cloud user, **I want** to be able supporting split DB, **so** I can offload part of DB-related operations to different instances to balance the load better and improve performance.

**To Do:**
* Add possibility to spin up additional separate DB instances and have ECE-Tools auto-configure routing and related settings:
** On separate hosts (separate ti

[2019-05-10 14:30] YPyltiai opened #494 "[Cloud Docker] Re-write ECE-Tools Integration Tests to Use Cloud Docker"
Internal ID: `MAGECLOUD-3129`

**As** an ECE-Tools developer and user, **I want** all the functionality to be able to utilize Cloud Docker as a testing environment for integration tests, **so** I can be sure in the quality of code delivered and it's compatibility with Cloud solution.

**Background:**
* We've delivered the base functionality to run integration testing using Cloud Docker implementat

[2019-05-10 14:40] YPyltiai opened #495 "[Cloud Docker] Changes in .magento.app.yaml should affect PHP extensions"
Internal ID: `MAGECLOUD-3357`

**As** a developer, **I want** my Docker environment to match Cloud as closely as possible. Clients are able to add or remove PHP extensions by modifying their .magento.app.yaml. It would be very useful if that same structure could be used to do the same in their Docker environment.

**Background:**
* The standard PHP Docker image has docker-php-ext-install and docke

[2019-05-10 14:42] YPyltiai opened #496 "[Cloud Docker] Changes in .magento.app.yaml should affect hooks"
Internal ID: `MAGECLOUD-3505`

**As** Magento developer, **I want** Cloud Docker to support custom hooks configuration, **so** I can test hook-related functionality more effectively.

**Background:**
* We currently run separate custom commands to build and deploy Magento.
* We disregard custom hooks now and build using default hooks only

**To Do:**
* Add support for configuring hooks locally via

[2019-05-10 14:53] YPyltiai opened #497 "[Cloud Docker] Add ICU and Phonetic Plugins to Elasticsearch Docker Image"
Internal ID: `MAGECLOUD-3446`

**As** a developer, **I want** my Docker containers to match Cloud environments as closely as possible.

**Background:**
* The Elasticsearch service in Cloud has the ICU (**analysis-icu**) and Phonetic (**analysis-phonetic**) plugins installed by default.

**To Do:**
* ICU (**analysis-icu**) and Phonetic (**analysis-phonetic**) plugins should be added to ES image by

[2019-05-10 14:56] YPyltiai opened #498 "[Cloud Docker] Add New OOTB Technology Stack Parts"
Internal ID: `MAGECLOUD-3243`

**As** a Magento developer, **I want** local dev solution to be working OOTB without me configuring additional technical stack parts, **so** it's easy and fast to set environment up.

**To Do:**
* Consider adding some Docker-native way to build the stack (PHP + Composer to avoid setting up anything natively besides Docker)
* Capability to isolate dev dependencies nat

[2019-05-10 14:58] YPyltiai opened #499 "[Cloud Docker] Default path during bash connection should be app instead var/www/magento"
Internal ID: `MAGECLOUD-3582`

**Step to reproduce:**
* Install Magento on docker
* Use deploy bash `make bash`

**Expected Behavior:**
* Connection will be established to `app`

**Actual Behavior:**
* Connection will be established to `var/www/magento`

[2019-05-10 15:57] YPyltiai opened #500 "[Cloud Docker] Improve Error Handling"
Internal ID: `MAGECLOUD-3249`

**As** a Magento developer, **I want** Cloud Docker solution to have better error handling & documentation, *so* I can easily follow the steps and be notified if I am doing something wrong.

**To Do:**
* Add better error handling, so invalid arguments in config build command or wrong YAML configuration are appropriately handled and explained instead of throwing regul

[2019-05-10 16:00] YPyltiai opened #501 "[Cloud Docker] Improved Mount Management & Configuration"
**As** a Magento developer, **I want** local dev solution to provide more granular controls over mounts and file system, **so** I can easily configure mounts without side effects on performance.

**To Do:**
* Split `/var/www/magento/pub` volume to `/var/www/magento/pub/static` and `/var/www/magento/pub/media`
* Add more control over mounts (ie - possibility to modify the list of volumes)
[code]
*

[2019-05-10 16:06] YPyltiai opened #502 "[Cloud Docker] Remove root permissions from directories for production mode"
Internal ID: `MAGECLOUD-2790`

**Background:**
* On Cloud we don't have root permissions and need to have the same pattern on Docker, to separate users for Docker deployment.

**To Do:**
* Remove root permissions for production mode Docker deployment

[2019-05-13 09:31] YPyltiai opened #503 "[ECE-Tools] Multi-threaded SCD Doesn’t Work as Expected"
Internal ID: `MAGECLOUD-3611`

**Background:**
* https://magentocommeng.slack.com/archives/C8CBB6K9V/p1557737159442700
* #457 added multi-thread SCD back since it was removed in earlier versions during refactoring
* Users now observe issues with SCD, which are common across multiple projects

**To Do:**
* Investigate if it’s the issue in code or some library is outdated (per @hostep comment)
* Che

[2019-05-14 17:48] hostep commented on #503
Since the free Slack version doesn't keep messages around for a long time, here's some links which might stand the test of time a bit better :)
- first bullet point refers to some observations I made on my local machine (this doesn't mean per sé that it will happen on the cloud): https://github.com/magento/magento2/pull/22607#issuecomment-489725835 & https://github.com/magento/magento2/pull/22607#

[2019-05-14 17:55] ihor-sviziev commented on #503
I think better idea to fix these issues not inside ece tools, but inside magento itself and maybe apply these patches inside ece tools for versions that don’t have these fixes

For two issues I already created PRs:
https://github.com/magento/magento2/pull/22884
https://github.com/magento/magento2/pull/22886

[2019-05-14 18:53] oshmyheliuk commented on #503
@ihor-sviziev Thank you.
We'll add patches to ece-tools after merging your fixes into the core.

[2019-05-16 08:02] ihor-sviziev commented on #503
BTW following PR also looks related https://github.com/magento/magento2/pull/22607

[2019-05-16 15:57] YPyltiai commented on #492
Will be added in #505

[2019-05-16 15:57] #492 closed, assigned to nobody

[2019-05-16 17:05] shiftedreality commented on #503
Here is a good example of failing on Travis CI builds https://travis-ci.com/magento/ece-tools/jobs/199529919

[2019-05-16 20:36] YPyltiai commented on #503
@hostep , is https://github.com/magento/magento2/issues/22563 also related?

[2019-05-16 20:37] ihor-sviziev commented on #503
Yes, but it’s getting fixed by https://github.com/magento/magento2/pull/22607

[2019-05-17 07:01] hostep commented on #503
Indeed, but it's only broken on the 2.3-develop branch, the change didn't happen yet in a stable version.

So if we're lucky, it won't be broken in 2.3.2. As long as https://github.com/magento/magento2/commit/7421dfb0a263e1f0b92af77e21051c7ffa44cbba isn't being included before https://github.com/magento/magento2/pull/22607 gets included as well. So maybe someone should talk to the people involved

[2019-05-17 13:48] YPyltiai commented on #470
Fixed in scope of #505

[2019-05-17 13:48] #470 closed, assigned to nobody

[2019-05-17 14:03] YPyltiai opened #507 "[ECE-Tools] Change Deployment Behavior for Cases when env.php is Missing"
Internal ID: `MAGECLOUD-3628`

**Step to Reproduce Scenario:**
- Install magento on cloud
- `rm -rf app/etc/env.php`
- Redeploy environment

**To Do:**
- Update logic of handling missing `env.php` file
- WARNING is written in log, saying that `env.php` was missing + the action taken based on the below logic
- Try recovering `env.php`:
-- If  `env.php.bak` is available, recover from backup
-- If  `

[2019-05-17 14:10] YPyltiai opened #508 "[Spike] Consider Adding PHPStan to Static Tests of ECE-Tools Code"
Internal ID: `MAGECLOUD-3578`

**Background:**
* https://github.com/phpstan/phpstan
* PHPStan focuses on finding errors in your code without actually running it. It catches whole classes of bugs even before you write tests for the code. It moves PHP closer to compiled languages in the sense that the correctness of each line of the code can be checked before you run the actual line.

**To Do:**
* C

[2019-05-18 03:10] joeshelton-wagento opened #509 "[Cloud Docker] DB data should persist in a volume"
For those that don't know the difference between stopping and downing a container, DB data should be stored in a volume. This prevents accidental data loss.

### Preconditions
Development is in progress on a working docker environment with a DB previously imported.

### Steps to reproduce
`docker-compose down`

### Expected result
`docker-compose up` would restore the development environment with

[2019-05-18 03:31] joeshelton-wagento opened #510 "[Cloud Docker] Exclude large files from docker-sync"
When first starting `docker-sync`, the period of inactivity experienced by syncing any large files (>1 GB) creates the impression that something may be wrong. Large files like DB dumps and archives are unnecessary to sync. Add the following file types to the default ignore section of `docker-sync.yaml`:

- *.sql
- *.gz
- *.zip
- *.bz2

### Preconditions
First run of `docker-sync`. A DB dump file d

[2019-05-18 06:03] joeshelton-wagento opened #511 "[Cloud Docker] env.php configuration is lost during a deploy"
With Docker in developer mode, env.php is regenerated during a deploy. Configurations from before the deploy are lost. Also, the array format changes from `[]` to `array()`.

### Preconditions
Working Docker environment with the following in env.php. Notice the disabling of Google Analytics.

[code]

### Steps to reproduce
`docker-compose run deploy cloud-deploy`

### Expected result
GA would cont

[2019-05-20 07:58] ihor-sviziev opened #512 "[Proposal] Using ECE Tools with Magento Open Source"
As ECE Tools became open source and public available - it's good idea to add instructions how to use it with Magento OS. As result - people might try to use it on Magento OS and will report issues / send PRs.
I just tried and got few issues:

- [ ] all docs are saying how to use it on Magento Commerce, but none are saying how to use them with Magento OS
- [x] package magento/ece-tools is not publi

[2019-05-20 13:25] YPyltiai commented on #511
Hi @joeshelton-wagento,

Thanks for opening the issue.

Looks like a bug for me. It works this way be design, since ECE-Tools generates env.php on deploy, but for dev mode it doesn't make sense for sure. We'll need to think how to change it without modifying actual production deploy phase.

[2019-05-20 13:27] YPyltiai commented on #510
Hi @joeshelton-wagento,

Thanks for opening the issue.

It makes sense to me. I don't currently recall any cases where this can break something but will leave to devs to confirm. In any case - agree that syncing archives doesn't look to be right.

[2019-05-20 13:34] YPyltiai commented on #509
Hi @joeshelton-wagento,

Thanks for opening the issue.

Not sure if it won't cause issues if we keep data. I've encountered some issues few times when volumes were not properly cleaned. Will leave it to @shiftedreality to review though. Assume it may be possible to make this flow available.

[2019-05-20 13:44] shiftedreality commented on #509
Hello, @joeshelton-wagento,

That's the same difficult case as preserving `env.php` and `config.php` - after user will nuke containers, with `docker-compose down`, we'll go into the upredicted state of the environment, which will keep its state. Do we really want to keep the app state after `down`? Or `stop` is preferred in such a situation?

[2019-05-20 13:48] YPyltiai commented on #512
Hi @ihor-sviziev,

Thanks for creating the proposal.

- I believe that's an error that the package is not available with non-EE keys now. Assume that's because some time ago it was private and we didn't change entitlements on composer repo to align with GitHub. We'll look into fixing this part.
- For a bigger question of OS support, we'll need some time to review this request. We never really test

[2019-05-20 14:03] shiftedreality commented on #510
Thanks @joeshelton-wagento

We'll definitely have to add `*.sql`. For archives - let's check if Composer has anything to do with them and add if it's ok.

[2019-05-20 16:30] joeshelton-wagento commented on #511
In the Cloud environment, env.php is regenerated with every deployment. But, custom configuration changes are preserved, as long as they are not specific to a service. Expecting the same behavior from the Docker environment.

[2019-05-20 16:44] YPyltiai commented on #511
I see. It explains the issue now. @andriyShevtsov / @mveeramneni , please validate the steps to reproduce.

Thanks!

[2019-05-20 16:47] YPyltiai commented on #509
@shiftedreality , will `stop` help with this use case? If so - this may just need to be documented and may not be an issue. If you re-boot the host, won't progress be lost?

[2019-05-20 16:49] joeshelton-wagento commented on #509
A good question. {{stop}} does persist the data.

I'm not yet clear on the desired workflow for a single multi-day development effort. Docker environments are initializing very well, at this point. But, I'm concerned about ongoing (Magento) code maintenance efforts. I'll start a more general conversation in Slack.

I'm interested in the most "fail-safe" option regarding DB data. I think DB data sh

[2019-05-22 15:32] YPyltiai commented on #500
Resolved by #516

[2019-05-22 15:32] #500 closed, assigned to nobody

[2019-05-22 20:05] andriyShevtsov commented on #511
Hello @joeshelton-wagento. Thank you. I created ticket MAGECLOUD-3668

[2019-05-22 20:34] YPyltiai opened #518 "[ECE-Tools] env.php is Overwritten with 2002.0.18"
Internal ID: `MAGECLOUD-3668`

### Step to reproduce:
- Install Magento on cloud
- Connect by ssh
- Run `bin/magento app:config:dump`
- Open `app/etc/env.php`. Ensure that this file consist data about payment and shipments methods
- Redeploy environment
- Open `app/etc/env.php`

### Actual and expected result:
- **Actual:** After redeploy env.php is regular without any custom settings
- **Expected

[2019-05-22 20:36] YPyltiai commented on #511
Identified as being caused by #518
@joeshelton-wagento , it looks like a regression, not an actual Docker bug.

[2019-05-22 20:49] YPyltiai opened #519 "[ECE-Tools] Output in Console after Redeploy has More Info About Error than cloud.log"
Internal ID: `MAGECLOUD-3650`

### Steps to Reproduce:
- Set  environment variable `env:CONFIG__DEFAULT__WEB__UNSECURE__BASE_URL`
- Run install on cloud

**Information in cloud.log file**
[code]

**Information in output after redeploy:**
[code]

### To Do:
- Make sure cloud.log is not missing any information related to Critical errors unless this is configured by logging level

[2019-05-22 20:52] YPyltiai opened #520 "[ECE-Tools] _merge Parameter is not Documented in .magento.env.yaml.dist Properly"
Internal ID: `MAGECLOUD-3651`

### **Background:**
* `_merge` parameter which allows customizing settings for different services (DB, ES, Redis, etc.) is not documented for every variable, which it can be used with. Currently it is documented for 2 variables only.

### **To Do:**
* Review all cases when `_merge` can be used
* Review `.magento.env.yaml.dist` for missing `_merge` mentions
* Add `_me

[2019-05-22 20:58] YPyltiai opened #521 "[ECE-Tools] Change Description for Cron Kill Processes"
Internal ID: `MAGECLOUD-3653`

### Background:
- Currently if cron kill process cannot find the cron, which was identified as running at the beginning of deploy phase, it throws an error, while it mostly means that cron manged to finish before process tried to kill it. Example:

[code]

### To Do:
- Change message to explain better the behavior instead of sending error, which is a result of some e

[2019-05-23 19:02] YPyltiai commented on #518
Fixed in #523

[2019-05-23 19:02] #518 closed, assigned to nobody

[2019-05-23 19:02] YPyltiai commented on #511
Fixed in #523

[2019-05-23 19:02] #511 closed, assigned to nobody

[2019-05-29 20:13] YPyltiai commented on #503
Should be fixed by #527

[2019-05-31 15:56] YPyltiai commented on #508
@bbatsche , @shiftedreality , did we decide anything on this one? Should we proceed / close?

[2019-05-31 16:00] shiftedreality commented on #508
That makes sense for ECE-Tools

[2019-06-03 13:33] YPyltiai commented on #503
Resolved in #530
Current tests are all passing as expected

[2019-06-03 13:33] #503 closed, assigned to nobody

[2019-06-03 13:51] YPyltiai commented on #508
Resolved in #531

[2019-06-03 13:51] #508 closed, assigned to nobody

[2019-06-03 15:27] YPyltiai commented on #512
@ihor-sviziev , quick update: latest version `2002.0.19` is available with OS keys now.
Still working on validation of the main proposal though.

[2019-06-07 15:14] YPyltiai opened #534 "[Cloud Docker] Set Varnish as default cache"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2019-06-07 15:20] YPyltiai opened #535 "[Cloud docker] Secure Connection Works With Warning Regarding Certificate"
**Steps to reproduce:**
- Deploy Magento using Cloud Docker
- Open storefront using HTTPS

**Expected behavior:**
- Storefront opens with valid certificate

**Actual behavior:**
- Storefront opens with warning about not recognized self-signed certificate

[2019-06-07 15:23] YPyltiai opened #536 "[Cloud Docker] Use /var/www/ece-tools for source code"
Internal ID: `MAGECLOUD-3714`

**Background:**
- We initialize our Functional Testing Framework with
[code]
- This forces installation of ECE-Tools from repository.

**To Do:**
- We should test install using current source code with path:
[code]

[2019-06-12 14:54] YPyltiai commented on #497
Way to install these is provided by @pinkeen here: https://gist.github.com/pinkeen/7da03e52b4805b4a8d54f637693bac8f

In next release those will be bundled but for now the instructions can be used to install custom extensions.

[2019-06-13 19:04] YPyltiai commented on #495
Resolved in #541

[2019-06-13 19:04] #495 closed, assigned to arhiopterecs

[2019-06-13 19:04] YPyltiai commented on #494
This is resolved now.

[2019-06-13 19:04] #494 closed, assigned to BaDos

[2019-06-13 19:07] YPyltiai commented on #507
Resolved by #538

[2019-06-13 19:07] #507 closed, assigned to nobody

[2019-06-19 15:27] YPyltiai commented on #467
Resolved in #546

[2019-06-19 15:27] #467 closed, assigned to nobody

[2019-06-20 14:11] YPyltiai commented on #462
Resolved by #547

[2019-06-20 14:11] #462 closed, assigned to nobody

[2019-06-25 16:09] YPyltiai commented on #471
Resolved in #548

[2019-06-25 16:09] #471 closed, assigned to nobody

[2019-07-01 15:57] benjamin-volle opened #557 "[ECE-Tools] WARM UP : error when no "default" store code"
### Preconditions
1. Magento 2.3.0
2. ece-tools 2002.0.20

### Steps to reproduce

1. Have a site without a store with code "default"
2. Set-up the WARM_UP_PAGES in the post-deploy node

### Expected result
1. Pages are warmed up

### Actual result

1. Error : Can't fetch base url. The command "php bin/magento config:show:store-url default" failed.

I guess there are many websites where the store

[2019-07-05 14:51] aepod commented on #512
I was able to get this working fairly well on OS version, just by including the package with composer require. I had an auth key set of course, but with no EE permissions.

I think the community would really benefit from having a single source of truth when it comes to build/deploy/docker etc. This CI/CD tool can easily fill the gap, and it also brings more people into the cloud fold by teaching t

[2019-07-06 22:07] shiftedreality opened #558 "[Proposal] Scenario-based deployments"
# Terms

*   **ECE-Tools:** A project by Magento for the deployment of Magento on Cloud infrastructure ([https://github.com/magento/ece-tools](https://github.com/magento/ece-tools))
*   **Magento Cloud Docker**: A project for emulation Cloud infrastructure locally ([https://github.com/magento/magento-cloud-docker](https://github.com/magento/magento-cloud-docker))

# Magento Cloud ecosystem

## Cur

[2019-07-08 12:06] andriyShevtsov commented on #557
Hello. May you please explain which configuration of websites/store/ store views do you use. I created website with code `default` and without store and in my case it works correct.
By default after installation magento have 1 website with code `base` with related store and store view.

[2019-07-08 12:11] andriyShevtsov commented on #557
May you please provide more details about  configuration of sites, stores  and store views. I created site with code `default` without store and it works correct. Maybe I missed something?
<img width="1529" alt="Screen Shot 2019-07-08 at 3 10 51 PM" src="https://user-images.githubusercontent.com/25657845/60809163-ac541700-a192-11e9-8293-00d1980c05da.png">

[2019-07-08 12:37] benjamin-volle commented on #557
Hi @andriyShevtsov

This is precisely the problem : we don't have a "Store View" with the code "default".

[2019-07-08 13:28] shiftedreality opened #559 "[Proposal] Move Docker-related functionality to separate package"
### Problem

Docker generation functionality is growing fast and became complicated.

### Proposal

To maintain good code quality and have the possibility of independent releases - we should separate it to a new repository.

#### Repository

The code should be moved to images source code repo - https://github.com/magento/magento-cloud-docker

### Backward compatibility

backward compatibility must

[2019-07-08 16:29] arhiopterecs commented on #559
@shiftedreality
I totally agree with you

[2019-07-11 09:51] YPyltiai commented on #521
Resolved in #562

[2019-07-11 09:51] #521 closed, assigned to nobody

[2019-07-11 09:52] YPyltiai commented on #557
Will be resolved in #560

[2019-07-11 09:52] #557 closed, assigned to nobody

[2019-07-11 16:50] hungpvdev opened #565 "Deploy fail when apply patches"
### Preconditions
1. Magento Cloud 2.2.8
2. ece-tool 2002.0.20
3. Follow docker development in local environment

### Steps to reproduce
1. Remove all vendor folder
2. Run `composer install`
3. Run `docker-compose run deploy cloud deploy`

### Expected result

1. Deploy is successful

### Actual result

1. Deploy failed when apply patches

Starting eceupgrade_node_1 ...
Starting eceupgrade_db_1 ..

[2019-07-19 14:32] BaDos commented on #565
Hi @hungpvdev
This `MAGECLOUD-3054__add_zookeeper_and_flock_locks__2.2.5.patch` patch patches files from the `vendor`, `setup`, `app/etc` directories.
So, before redeploy you need to remove the `app/etc/di.xml` file and clean up the following directories: `setup` and `vendor`
Then command `composer install` will retrieve clear files from Magento packages.

[2019-07-19 14:52] shiftedreality commented on #536
Closed in https://github.com/magento/ece-tools/pull/563

[2019-07-19 14:52] #536 closed, assigned to nobody

[2019-07-22 14:26] BaDos commented on #565
Hi @hungpvdev
Did this ^ help you?

[2019-07-22 15:07] bbatsche opened #570 "[Proposal] Event Driven Deployments"
# Problems

1. ECE Tools currently has a tight coupling between commands and the individual steps necessary for them.
1. There is no way for for third parties to inject their own steps in the middle of different commands (shell scripts may be run before or after a command but not around individual steps).

# Goals

1. Provide optimal flexibility for others to add their own steps inline with indivi

[2019-07-22 20:22] LucasCalazans opened #572 "[DOCKER] Give us the ability to have multiple projects with different volumes"
When we're trying to use multiple projects using the docker environment we receive an error because the volume name is fixed in some files.

### Preconditions
1. I've tried with Linux OS (More specifically Fedora 30)

### Steps to reproduce
1. Mount a project using docker environment (Developer mode)
2. After that, try to create another one using the same architecture

### Expected result
1. Both

[2019-07-23 13:02] hungpvdev commented on #565
Hi @BaDos,
Your solution work perfectly. Thanks.

[2019-07-23 13:02] #565 closed, assigned to nobody

[2019-07-23 15:27] #473 closed, assigned to nobody

[2019-07-23 15:28] #499 closed, assigned to nobody

[2019-07-23 15:28] #519 closed, assigned to nobody

[2019-07-23 15:29] #496 closed, assigned to nobody

[2019-07-23 15:29] #497 closed, assigned to nobody

[2019-07-23 15:29] #502 closed, assigned to nobody

[2019-07-24 16:35] shiftedreality commented on #572
There are technically 2 possible implementations:

1. One Docker instance with multiple source code points (I have some prototype in https://github.com/shiftedreality/magento-docker-components). This is quite complicated and will need additional efforts
2. 2 separate Docker instances. This will require fewer development efforts and potentially should be possible now, the only big change will be -

[2019-07-26 17:25] YPyltiai commented on #570
Since we decided to proceed on Scenario-based approach as the baseline, I'll close this issue for now. As agreed, we'll return to it later, when we will be adding plugins to attach actions to events, happening during deployment steps, defined in scenarios.

[2019-07-26 17:25] #570 closed, assigned to nobody

[2019-08-05 16:24] YPyltiai opened #578 "[ECE-Tools] Reduce q-ty of Reports Created in /app/*/var/report"
Internal ID: `MAGECLOUD-3392`

**There is an issue with users having thousands of files in /app/PROJECT_ ID/var/report which are very hard to clean-up due to GlusterFS.**

**To Do:**
* Investigate options to reduce quantity of files generated, so we do not create thousands of files with single error/exception in one file. Proposed way to solve the issue is to change file nesting rules in that fold

[2019-08-05 16:28] YPyltiai opened #579 "[Cloud Docker] Warm-up not Working Properly on Post-deploy Phase in Docker"
Internal ID: `MAGECLOUD-3939`

**We don't currently support warm-up during the post-deploy hook in Docker implementation. This is past of ECE-Tools post-deploy process and has to be fixed.**

**To Do:**
* Fix warm-up process to properly warm-up pages without errors in Cloud Docker implementation

[2019-08-05 18:35] YPyltiai opened #581 "[Cloud Docker] Add Separate Post-deploy Hook to Cloud Docker"
Internal ID: `MAGECLOUD-3996`

**Background:**
* Currently we have build & merged deploy+post-deploy hooks in Cloud Docker
* This conflicts with the idea to have similar behavior as on Cloud for Cloud Docker

**To Do:**
* Investigate if https://github.com/magento/magento-cloud-docker/pull/30 fixed this issue already, since we now read hooks or something is still missing in default flow
* Add dedic

[2019-08-05 18:39] YPyltiai opened #582 "[ECE-Tools] Error in UrlManager::getBaseUrl() When Secured URL isn't Configured"
Internal ID: `MAGECLOUD-4009`

**Error in UrlManager::getBaseUrl()  method in case when secured URL isn't configured and CLI command from magento-cloud-components module failed (for example module is disabled in the config.php file)**
[code]

**To Do:**
* Change logic to use unsercure (http) URL in case when secure (https) isn’t configured.

[2019-08-09 07:33] sorinsugar opened #587 "[Cloud Docker] Static files not available if these are created on build stage"
I don't know if this issue should be reported here, but is seems like an ece-tools probem.
We've tested 3 different approaches using magento cloud docker on local (production mode) and one of them fails to deploy the static files correctly.
We've installed magento 2.3.2 using all steps from documentation, first time with no config.php and no .magento.env.yaml configurations and it worked ok, magen

[2019-08-09 13:05] YPyltiai commented on #587
Hi @sorinsugar ,

Thanks for reporting this issue. We will review and try to reproduce. Once we reproduce the issue, we'll let you know what could be the issue.

Thanks,
Yevhenii

[2019-08-09 19:22] oshmyheliuk commented on #587
Hi @sorinsugar ,
We were able to reproduce your issue.

Please run `docker-compose restart` after `deploy cloud-deploy` it should fix the current issue.

[2019-08-12 10:25] sorinsugar commented on #587
I can confirm that restarting all the services starts the environment correctly if the SCD is done on the build phase. I think this should be added to the documentation as well for future reference.
I'll close the issue as the problem has a solution which doesn't require code change.

[2019-08-12 10:25] #587 closed, assigned to andriyShevtsov, mveeramneni

[2019-08-16 15:47] YPyltiai commented on #581
Resolved in: https://github.com/magento/magento-cloud-docker/pull/36

[2019-08-16 15:47] #581 closed, assigned to nobody

[2019-08-16 15:49] YPyltiai commented on #582
Fixed in https://github.com/magento/ece-tools/pull/583

[2019-08-16 15:49] #582 closed, assigned to nobody

[2019-08-16 15:51] YPyltiai commented on #520
Resolved in https://github.com/magento/ece-tools/pull/577

[2019-08-16 15:51] #520 closed, assigned to nobody

[2019-08-28 17:18] krisdante opened #595 "Download of media files shall skip cache directory"
This is not a bug but rather an improvement request.
Cache directories as it name depicts are media files that are generated - so they can be also re-generated.
Size and number of this files is significant and there shall be at least a flag to exclude them from downloading when you just want to download media folder

### Preconditions

1. Have Magento up and running with products with pictures

##

[2019-08-28 18:00] YPyltiai commented on #595
Hi @krisdante,

Thank you for submitting the request. We'll review it and will get back to you.

Thanks,
Yevhenii

[2019-08-28 18:01] YPyltiai commented on #595
@andriyShevtsov , @mveeramneni , may you please validate the use case and see if this goes to ECE-Tools or rather https://github.com/magento/magento-cloud-cli ?

[2019-08-29 08:09] krisdante commented on #595
You are tight. This is magento-cloud-cli. And I also realised that there is already --exclude filter and it's a matter to pass this parameter with proper value.

[2019-08-29 08:09] #595 closed, assigned to andriyShevtsov, mveeramneni

[2019-09-17 18:24] joeshelton-wagento opened #602 "[Cloud CLI] magento-cloud build instruction removed from magento-cloud get command output"
As a manager of developers I want developers introduced to a Magento Cloud project to contribute code to that project as soon as possible.

After running a `magento-cloud get <project_id>` command, an instruction to run the `magento-cloud build` command is displayed. In the majority of use cases for `magento-cloud get`, `magento-cloud build` is not a legitimate next step. This instruction is incor

[2019-09-17 18:34] YPyltiai commented on #602
@joeshelton-wagento , if I got you right, do you request to have recommendations in the output fixed?

[2019-09-17 19:04] joeshelton-wagento commented on #602
Removed, actually. Remove:

[2019-09-18 15:30] aepod opened #603 "mutagen creates multiple stale sessions"
This ticket is also here.  https://github.com/magento/magento-cloud-docker/issues/55

### Preconditions
1. Have run mutagen.sh
2.  Subsequent runs create multiple mutagen sessions

### Steps to reproduce
1.  Set up docker with mutagen
2.  Run mutagen.sh
3.  Rerun mutagen.sh

### Expected result
1. Session would be recreated

### Actual result
1.  More than one session is created, old ones are stal

[2019-09-18 15:31] aepod commented on #603
I have a good fix for this, will have a PR shortly.

[2019-09-18 16:10] YPyltiai commented on #603
Hi @aepod ,

As discussed via Slack - let's have this one in https://github.com/magento/magento-cloud-docker, since we move all the functionality already there.

Thanks,
Yevhenii

[2019-09-18 16:10] #603 closed, assigned to nobody

[2019-09-19 15:47] YPyltiai opened #606 "[ECE-Tools] Add Validator for Servises Versions which are EOL or out of Compliance"
**To Do:**
* Add EOL parameter to our service mapping, indicating EOL of service version (date format)
* EOL parameter should be added every time we add new service version into mapping (add some automated tests to check)
* Add validation to start sending notifications:
  * Notice: if (EOL date)-(Current Data)=less than 3 months (can be 6 months)
  * Warning: if used service is already EOL
* Add o

[2019-09-19 15:53] YPyltiai opened #607 "[ECE-Tools] Programmatically Generate .magento.env.yaml.dist"
Proposal by: @bbatsche

## Problem
* Between devdocs and `.magento.env.yaml.dist` there is no single source of truth for Magento Cloud environment variables, and information is prone to get out of sync.
* The file `.magento.env.yaml.dist` is static and cannot be verified beyond whether a variable exists in the file or not (and even then the verification is fairly rudimentary). There is no way to v

[2019-09-26 15:31] YPyltiai commented on #602
Moved to Magento-cloud CLI repo. We will update you on status in this ticket @joeshelton-wagento . Thanks!

[2019-09-26 15:31] #602 closed, assigned to nobody

[2019-10-02 12:44] Bodyanuk opened #615 "[ECE-TOOLS] Add "store" to WARM_UP_PAGES logic"
### Problem
It's impossible to preload cache for multiple stores.

### Requirements
1. At least **2 Store Views**
2. Configuration "**Add store code to URL**" enabled
2. Preload cache for next URLs
[code]
**Where:**
https://example.com/ - `{base_url}`
store_code1 - `{store_code}|{store_id}`
full/path/to/page.html - `any path to page`

### Configuration
[code]

### Actual result
Preload cache for `

[2019-10-02 13:00] Bodyanuk opened #616 "[ECE-TOOLS] Add "products" to WARM_UP_PAGES logic"
### Problem
It's impossible to preload cache for specific products.
Marketing department usually uses specific products in commercial. So, it would be great to have already cached product pages.
Of course, this feature must have some limits.

### Proposal
[code]
1. Preload cache for product with **SKU = sku1** and **Store View code = store_code**
2. Preload cache for product with **SKU in (sku1, s

[2019-10-04 16:33] piotrekkaminski commented on #558
i understand the AWS/Azure versions - but not sure why you think for custom deployments this is better than someone already using Chef/Puppet etc

[2019-10-08 08:13] BarnyShergold commented on #419
I've just discovered this proposal after creating a patch to do just this.

For metrics I got the patch to do the setup:db:status and the setup:upgrade and log when they started and ended.

I've now run this patch 4 times on a PRO-12 Staging environment - where no database was updated and the numbers are consistent.

The check takes on average 5.5s
The empty upgrade takes on average 13.75s

So on

[2019-10-08 12:37] YPyltiai commented on #419
Hi @BarnyShergold ,

Thanks for sharing your thought on this one.

If you have code ready, would you mind submitting PR for us to test this use case once again? Things may have changed since last time we looked at it.

Thanks,
Yevhenii

[2019-10-08 12:40] BarnyShergold commented on #419
Hi
I certainly can - can you tell me or point me at the process for creating a PR? I've cloned the repo

[2019-10-08 12:53] YPyltiai commented on #419
@BarnyShergold , we don't have some special rules for ECE-Tools. Process is as simple as:
1. Fork repo
2. Add changes in your fork and submit PR upstream
3. We will see the PR and help testing/validating it. Tests will need to be green but that is something our team can help with,

[2019-10-11 19:56] YPyltiai commented on #606
Resolved in https://github.com/magento/ece-tools/pull/625

[2019-10-11 19:56] #606 closed, assigned to nobody

[2019-10-11 19:56] YPyltiai commented on #578
Resolved in https://github.com/magento/ece-tools/pull/601

[2019-10-11 19:56] #578 closed, assigned to nobody

[2019-10-12 11:54] hanyws opened #626 ""version": "2002.0.21""
get
PHP extension bcmath is not available for PHP version 7.3.
error
with
./vendor/bin/ece-tools docker:build

Is the problem in the image?

Will this solve in "version": "2002.1.0" ?

[2019-10-15 20:06] aepod opened #644 "env.php Crypt Key Issues"
env.php is not automatically setting the crypt key on new docker environments. This is by design, but it should most likely be generating an error message, and possibly even failing to deploy without this set. Alternately generating a fresh key and warning the user would also be a good solution.

### Preconditions
1. Fresh copy of project from git repository checked out
2. app/etc/env.php is not p

[2019-10-16 14:20] shiftedreality commented on #644
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-4423

[2019-10-29 19:41] pinkeen commented on #558
@piotrekkaminski This does not replace the CI deployment process but rather augments it as I see it.

Instead of having your own scripts (or whatever you're using specific to your stack) that perform various Magento setup tasks (like SCD, DB upgrade, etc.) you can use `ece-tools`. We might even integrate it into our own AWS-based hosting someday. I think one of the coolest benefits would be projec

[2019-11-01 06:48] mattskr commented on #644
please assign this issue to me.

[2019-11-13 15:30] vscepanoviczil commented on #644
This is an ECE-Tools issue, since it is in charge of the key generation, and configuration validation during deploy & fix is rather simple.

This issue should be moved to ECE-Tools repo. Can someone do that?

[2019-11-13 15:34] shiftedreality commented on #644
@vscepanoviczil moved

[2019-11-13 21:30] shiftedreality commented on #558
API:

- CLI
-- All commands with `@api` are considered as API
-- Adding new required argument is API
-- Removing argument is API
-- Removing or renaming option is API

- Interfaces and Classes
-- All interfaces and classes with `@api`
-- Protected/public methods in classes with `@api`
-- Renaming class is API change
-- Renaming protected/public methods is API change
-- Adding required argument
--

[2019-11-18 21:22] YPyltiai commented on #419
Closing per comments in #619

[2019-11-18 21:22] #419 closed, assigned to nobody

[2019-12-03 22:49] shiftedreality commented on #644
PR was merged.

Thank you!

[2019-12-03 22:49] #644 closed, assigned to mattskr

[2020-01-16 16:37] phoenix-bjoern commented on #493
IMHO this is a must-have feature. Otherwise you can't configure scalable checkout. This is definitely a missing feature for Magento Cloud.

[2020-01-16 17:07] phoenix-bjoern opened #667 "post_deploy hook not correctly retrieved"
When you check the configuration with `vendor/bin/ece-tools wizard:ideal-state` the output is always `Your application does not have the "post_deploy" hook enabled.` In fact the hook is correctly configured in .magento.app.yaml. But the check in src/Config/Application/HookChecker.php reads the setting from a environment variable (ENV_APPLICATION) rather than from .magento.app.yaml. Instead Magento

[2020-01-16 17:07] YPyltiai commented on #493
@phoenix-bjoern - it's in development now: #641

[2020-01-16 17:28] YPyltiai commented on #667
Yes, that's correct. We may need to change the logic a bit to get it working on local machines. There was no reliable way to check if it's local or real instance from CLI through ECE-Tools CLI, thus we had to use this workaround.

[2020-01-23 13:03] Flyingmana opened #669 "Remove hard dependency on redis-cli"
### Preconditions

1. Have an Environment / Docker container, which does not ship with the redis-cli

### Steps to reproduce

1.  Have an Environment / Docker container, which does not ship with the redis-cli
2. use ece-tools
3. failing because redis-cli is not available to execute flushdb

### Expected result

1. Instead of using the redis-cli, the same should be used, which is also used in Magen

[2020-01-23 14:38] shiftedreality commented on #669
We could potentially use credis extension

[2020-01-23 15:10] YPyltiai commented on #669
Looks like @Flyingmana started working on it in #670

[2020-01-23 17:05] shiftedreality opened #671 "Add NewRelic logging integration"
Extend ECE-Tools by adding logging to NewRelic with an API token.

Provided below implementation (by @syno-bvo) can be used as reference:

[code]

### AC
* Add NewRelic Dependency to ECE-Tools
* Add a post-deploy step which can send an API call to NewRelic using environemnt-configured keys

[2020-01-26 17:56] IJOL commented on #512
I will be a happy user of ece-tools with the OS version of magento, in addition to fill the gap now, Ii wil be grateful for ever if some one  graciously put a detailed tutorial on how to use ece-tools local docker deployment with Magento OS..

[2020-01-27 16:54] YPyltiai commented on #512
@shiftedreality , @aepod ^, I think you both managed to install OS with ECE-Tools on Cloud Docker?

[2020-01-27 16:55] shiftedreality commented on #512
Yes, we have automated Functional build which also verifies this functionality. Should be closed with 2002.1 release.

[2020-01-28 10:06] IJOL commented on #512
Hola a todos, I will be glad to test anything you come up with, but i admit
i dont have my composer skills up to the task, i'¡m very lost about how to
that, a detailed guidance will be greatly appreciated..

Saludos,
--------------------------------------------
Ignacio J.Ortega
skype:ignacioj.ortega

El lun., 27 ene. 2020 a las 17:55, Oleg Posyniak (<notifications@github.com>)
escribió:

[2020-01-28 18:51] shiftedreality commented on #671
Internal task: https://jira.corp.magento.com/browse/MCLOUD-3946

[2020-01-31 16:20] YPyltiai opened #678 "Add Versioning to Env Variable Schema"
**Background:**
- We've just added the schema for environment variables to be used with ECE-Tools here: https://github.com/magento/ece-tools/blob/develop/config/schema.yaml
- It contains all required information for 3-p tools and packages to be able working with variables reliably
- We miss the versioning though, so if something gets updated there - CICD tooling may never catch it.

**To Do:**
- A

[2020-01-31 16:31] YPyltiai opened #679 "Add Concept of State-aware Error Codes to ECE-Tools"
**Background:**
- We currently use logger and actual process results separately, meaning that Critical / Warning will not always cause build / deployment to fail unless we explicitly do that.
- Error codes used are standard 0 / 1, letting us know that the process was successful or failed, without providing any context on state of the process and environment in which it exited with error.
- Current

[2020-02-04 14:43] shiftedreality opened #681 "Add Elasticsearch 7 support"
ECE-Tools should support ElasticSearch 7 which will be added in the future minor versions of Magento.

[2020-02-12 16:19] shiftedreality commented on #681
Closed via https://github.com/magento/ece-tools/pull/683

[2020-02-12 16:19] #681 closed, assigned to nobody

[2020-02-12 19:00] shiftedreality opened #684 "Fix ideal state validation"
ECE-Tools version 2002.1.0 throwing warning about the wrong format of `pos-deploy`, if the scenario is used.

[code]

### Preconditions

1. The scenario used for post-deploy `./vendor/bin/ece-tools run scenario/post-deploy.xml`
2. Cloud project deployed

### Expected result

1. No warnings

### Actual result

1. Warnings in the log

[2020-02-12 19:05] andriyShevtsov commented on #684
Internal issue MAGECLOUD-5295

[2020-02-21 00:38] diazwatson opened #688 "Add ability to disable cron per environment"
Some times it is necessary to deactivate cron. This seems to be a common practice specially when trying to improve performance in shared environments like Integration environments.

Currently it is possible to do so by modifying the `.magento.app.yaml` file.

The problem with this approach is that disabling the cron using the `.magento.app.yaml` file wil deactivate cron in all environments.

[2020-02-21 14:50] YPyltiai commented on #688
@diazwatson , doesn't https://devdocs.magento.com/cloud/configure/setup-cron-jobs.html#disable-cron-jobs work for your use case or you were not aware that this exists? If it doesn't work for you, would be great to get more details on the exact use case. Thanks!

**Note:** it is in ECE-Tools 2002.1.0

[2020-02-21 16:19] diazwatson commented on #688
But is going to be overwritten in the next deployment. Is there a way to permanently disable cron for a specific environment?

[2020-02-21 16:41] YPyltiai commented on #688
@diazwatson makes sense. I ran this by team - there is no way to do that now, so you can stop them from running on schedule but still have possibility to run them manually on demand. We'll need to look deeper into it. Thanks for bringing this up!

[2020-02-21 17:03] shiftedreality commented on #688
Hello @diazwatson

We've found a more elegant way to accomplish this:

Edit your `.magento.app.yaml` config with something like:

[code]

Make sure to adjust `"$MAGENTO_CLOUD_BRANCH" = master` to include `production` and `staging` branches.

[2020-02-23 02:48] diazwatson commented on #688
Thanks for taking the time to investigate this @shiftedreality
Does this mean that cron will not run in all environments but only in production and staging because they both inherit from master branch.

Also all environments inheriting from Integration will have cron disable.

Is this correct?

[2020-02-23 03:11] shiftedreality commented on #688
Yes, you’ll only have to specify correct branch names

[2020-02-24 07:47] diazwatson commented on #688
Oh, I have to specify each branch then
Is this correct?
[code]
@shiftedreality

[2020-02-24 14:24] shiftedreality commented on #688
You can combine it into the one-line statement with regexp as well, something like this:

[code]

[2020-02-27 17:42] #669 closed, assigned to nobody

[2020-02-28 17:25] #493 closed, assigned to nobody

[2020-02-28 17:26] YPyltiai commented on #558
This was completed.

[2020-02-28 17:26] #558 closed, assigned to nobody

[2020-02-28 17:26] YPyltiai commented on #607
This was completed.

[2020-02-28 17:26] #607 closed, assigned to nobody

[2020-02-28 17:27] YPyltiai commented on #688
@diazwatson , did it resolve your use case? Wanted to see if we can close this ticket.

[2020-02-29 12:21] diazwatson commented on #688
It seems to be solved, thank you guys

[2020-02-29 12:21] #688 closed, assigned to nobody

[2020-03-01 16:58] phoenix-bjoern opened #696 "Set install date"
Magento saves hashes of the env.php and config.php in it's database to detect changes. When you deploy two fresh instances in parallel (without sharing app/etc/env.php) their install date in env.php will be different. This could lead to errors which only can be resolved by manual execution of `bin/magento app:config:import`.

The only difference we found in the env.php is the install date. If it w

[2020-03-02 00:00] phoenix-bjoern opened #697 "Add option for http_cache_hosts"
To enable Varnish in env.php an additional command needs to be executed:
`bin/magento setup:config:set --http-cache-hosts=varnish`

It seems there is no possibility to append

[code]

to env.php in ece-tools.

[2020-03-02 18:03] YPyltiai commented on #697
Hi @phoenix-bjoern , did you try extending this via scenarios? If it's a single command to be done during deploy, you may be able to add it via scenarios for now, since we cannot add it natively to main scenario until we have good ways of testing it and running in production.

See this: https://devdocs.magento.com/cloud/deploy/scenario-based-deployment.html

[2020-03-02 18:06] YPyltiai commented on #696
Hi @phoenix-bjoern, may you please explain the impact of the date is not the same on two environments? Is the logic working any different there or it cannot see that this env.php is actually belonging to this environment?

[2020-03-04 12:32] phoenix-bjoern commented on #696
As a pre-condition: app/etc is not on a shared folder (NFS). The reason for this is that app/etc/config.php sometimes doesn't get updated properly so we prefer to have a "shared nothing" installation.

Imagine you have an auto-scaling scenario and new pods/VMs - connected to the same database - are coming up on demand. If the install date is always different the config hash in the flag table gets

[2020-03-04 16:14] phoenix-bjoern commented on #697
@YPyltiai thanks for the feedback. Of course this would be doable. However I think this is a missing feature as Varnish is the default FPC on-premise and in order to invalidate cache elements the setting in env.php is required. IMHO support in ece-tools is a must-have.
Would you accept a PR if we would takeover the coding part?

[2020-03-04 16:19] YPyltiai commented on #697
@phoenix-bjoern it makes sense - my only comment is about the design part of it. Current flows are specific to Cloud and we added scenario concept to allow for out of Cloud customization. We just need to think if we just do the variable here to control it or fork scenario & extend it for Varnish support there (out of Cloud scenario). We should accept PR but let's discuss this design question first

[2020-03-05 21:14] NadiyaS commented on #696
Hi @phoenix-bjoern,
you mention that because of difference in installation date you have to run `bin/magento app:config:import`. But that hash which Magento stores in DB does not read this data at all.
That hash stores data from `system` section (as merge from env.php and config.php). So check the difference there.

[2020-03-06 10:02] phoenix-bjoern opened #698 "Cache not enabled after fresh deployments"
When deploying a new instance the first time the Magento cache is not enabled in app/etc/env.php and `bin/magento cache:enable` needs to be executed.
IMHO there is so much cache cleaning but no one thought about to actually enable the cache for Magento. So I think we need another deploy step to enable the cache and add it to the deploy scenario.

[2020-03-06 15:25] YPyltiai commented on #698
@phoenix-bjoern this is a bug in Magento 2.3.2 and higher. It is patched in recent release. Please update ECE-Tools with dependencies (magento/magento-cloud-patches) to see if this helps.

Cache shouldn't be disabled in general - it was a bug of Magento disabling it every time on `maintenance:enable`.

See: https://github.com/magento/magento-cloud-patches/pull/27

[2020-03-06 15:53] phoenix-bjoern commented on #698
Not sure of this is correct. I mean in env.php not only FPC is disabled, the file looks like this:
[code]

Actually it should more look like this:
[code]

Even if you disable maintenance mode in the scenario you have the same results.

[2020-03-06 15:56] YPyltiai commented on #698
@phoenix-bjoern that's if you get dump of cache configs into env.php AFAIK. If you don't have the dump there, it is taken from DB configs. @NadiyaS , may you please check this issue? You should be familiar with configs merging and flows we have there.

[2020-03-06 16:05] phoenix-bjoern commented on #698
What we currently do to mitigate the problem is to manually execute `bin/magento cache:enable`. But IMHO this shouldn't be necessary as deploying Magento to production and warm caches in the post deploy step makes only sense if the caches are enabled by default.

[2020-03-09 15:25] NadiyaS commented on #698
@YPyltiai  what do you mean under dump of cache configs? if ece-tools config:dump - this command does not touch those cache configs.

@phoenix-bjoern I could not reproduce the issue you described. I have Magento 2.3.4, ece-tools 2002.1.0.
My steps: uninstall magento and run redeployment .
Result: all cache is enabled.

Also, you may have this problem if parent branch has this state of config (with

[2020-03-09 17:14] shiftedreality commented on #697
I would like to suggest leaving this functionality in `./bin/magento` and add to ECE-Tools via separate customized Step if needed instead of adding functionality directly into the package.

[2020-03-10 00:53] phoenix-bjoern commented on #698
@NadiyaS  can you please rm app/etc/env.php and then just run `vendor/bin/ece-tools deploy`. In all my tests the caches were not enabled in env.php after that.

[2020-03-10 16:00] NadiyaS commented on #698
@phoenix-bjoern just removing env.php is not enough to make ece-tools install Magento. As at the beginning, ece-tools (re)writes DB connection to env.php and then it checks that DB is not empty, so it runs upgrade process (not install).
And even with those steps as you wrote, my deployment was interrupted during Magento upgrade with error "No key available" (but env.php really had only one cache i

[2020-03-19 18:30] andriyShevtsov opened #701 "Add information about number of concurrency for warm-up into cloud.log"
Recently was added ability to specify number of concurrent requests   for warm-up. (see PR https://github.com/magento/ece-tools/pull/700).
It make sense to add information about number of concurrency into cloud.log otherwise it's not obvious to understand how much  concurrent requests were set.

 It can be something like:

`Starting page warming up (concurrency: 3)`

[2020-03-19 18:32] andriyShevtsov commented on #701
Internal ticket MAGECLOUD-5636

[2020-03-21 00:11] Jaff opened #703 "Analyze site with SonarQube?"
How would I be able to use the SonarQube php plugin to analyze our application?

[2020-03-23 23:08] Jaff commented on #703
We've worked out how to do this using docker pipeline. OK to close issue.

[2020-03-23 23:08] #703 closed, assigned to nobody

[2020-03-24 18:59] vpashovski commented on #512
It will be great to use ece-tools to build CI/CD for Magento Open Source. As I can see most of the steps in hooks are related with MagentoCloud module.
Is it there easy way to use it for that?
Or we have to remove cloud dependencies and build all steps again?

[2020-03-24 19:33] shiftedreality commented on #512
@vpashovski there are few options available:

1. Use Magento Cloud-like way of deployment, with `build`, `deploy` and `post-deploy` phases. It does not really require Magento Cloud. We can potentially use it on any infrastructure with small tweaks.
2. Write custom scenarios: https://devdocs.magento.com/cloud/deploy/scenario-based-deployment.html#add-scenarios-using-build-and-deploy-hooks

Overall

[2020-03-24 19:38] shiftedreality commented on #512
@ihor-sviziev we can cross-out this:

ECE-Tools is available with OS keys now

[2020-03-25 10:16] phoenix-bjoern commented on #698
@NadiyaS I don't see this error during deployment. Guess you have to define the environment variable MAGENTO_CLOUD_VARIABLES and MAGENTO_CLOUD_RELATIONSHIPS to get CRYPT_KEY and database credentials.
BTW: With "fresh deployment" I'm not talking about empty databases. I mean a new version of the code (= a new version of the Docker container) where no env.php exists.

As you confirm the caches are n

[2020-03-25 10:35] phoenix-bjoern commented on #696
@NadiyaS you are right, it seems my observation was not accurate.
I'm closing this ticket and will open a new one if I'm able to find the root cause of the error we found in our deployment.

[2020-03-25 10:35] #696 closed, assigned to nobody

[2020-03-27 07:59] ihor-sviziev commented on #512
@shiftedreality thank you for update! I updated issue description.
But still some example is missing.

Would be great to have something similar to https://github.com/fooman/magento2-starter-template/runs/538326475?check_suite_focus=true, so many people could try it

[2020-04-08 13:16] BarnyShergold commented on #667
Can we close this issue as it's being dealt with on issue #684 (MAGECLOUD-5295)?

[2020-04-09 12:31] ihor-sviziev commented on #667
Duplicate of #684

[2020-04-09 13:50] YPyltiai commented on #667
@BarnyShergold , @ihor-sviziev this one is different - it's about an issue that this command always returns error on local machines (not scenario-based deployment bug). Reopening

[2020-04-10 03:34] NadiyaS commented on #698
Hi @phoenix-bjoern ,
Oh, you have this error only on docker?
I made those steps on cloud environments, did not try on docker yet.
As I wrote I had error "No key available", and this is expected error as crypt key really does not exist due to removing env.php. This is expected that my env.php may have missed data (in our case it is cache_types) as Magento upgrade process was not finished. So, in my

[2020-04-10 18:01] shiftedreality opened #717 "Upgrade PHPUnit to version 9"
**Is your feature request related to a problem? Please describe.**
Since PHPUnit 7 is already deprecated and PHPUnit 9 is stable, we should upgrade our version to 9

https://phpunit.de/supported-versions.html

**Describe the solution you'd like**
PHPUnit is upgraded to version 9

[2020-04-12 03:35] phoenix-bjoern commented on #698
@NadiyaS it is setup:upgrade of course.

[2020-04-12 04:20] NadiyaS commented on #698
@phoenix-bjoern then I would not consider this as ece-tools bug.
If you try this not on the cloud project (Magento itself), you will have the same result.
Actually, the problem here is that Magento automatically adds only one cache type if there is no **cache_type** in env.php
[code]
Even if env.php does not exist at all, Magento creates this file only with one cache_types.
And that is what happen

[2020-04-12 07:30] phoenix-bjoern commented on #698
@NadiyaS I perfectly understand this. But the question remains: Why shouldn’t we add the enablement of all caches in the upgrade scenario? It doesn’t make sense to deploy an instance and leave the cache disabled, right?

[2020-04-12 16:48] NadiyaS commented on #698
@phoenix-bjoern
The problem exists because Magento automatically creates empty env.php with only one cache_types. I would create a bug in Magento core - if env.php does not exist do not create it with cache_types only.

Also, ece-tools cannot enable cache after every setup:upgrade because customer could disable it before and expects to have the same after redeployment.

Anyway, as I understood you

[2020-04-14 13:51] #684 closed, assigned to nobody

[2020-04-18 21:09] BarnyShergold commented on #667
Is it not reasonable then to change getApplication() in Magento\MagentoCloud\Config\EnvironmentData so that if getEnvVar returns NULL (local machine) that it then tries to read .magento.app.yaml?

I'd quite like to do the PR on this but can we agree this is the correct thing to do before coding is done?

[2020-04-20 14:38] BarnyShergold commented on #667
@YPyltiai @ihor-sviziev @phoenix-bjoern - Any thoughts on my comment?

[2020-04-21 20:35] YPyltiai commented on #667
I think it makes sense but would love someone familiar with of post-deploy code to look into it as well. @oshmyheliuk , @shiftedreality , can you see the above comment please ^?

[2020-04-22 13:49] oshmyheliuk commented on #667
Yes, I agree that this is an issue when ece-tools is running not on the cloud environments as we expect that post_deploy hook always in ENV_APPLICATION variable.
Looks like we need to update our code according to @BarnyShergold suggestion
[code]

[2020-04-22 17:08] YPyltiai commented on #667
It was initially returning NULL on environments with Prod not in UI but since now every Prod is in UI - I guess we can change it.

[2020-04-23 15:11] BarnyShergold commented on #667
Code & Unit tests now submitted on #722

[2020-04-30 14:27] arhiopterecs commented on #679
### [Proposal] Concept of State-aware Error Codes to ECE-Tools

All defined errors and warnings from `ECE-tools` will be split into certain groups like: FS error, service configuration errors, SCD errors, etc.

Each error's group will be assigned to a unique error code's range to quickly identify the source of the fault.

Such error codes will be in the range of `1` to `255`

Example of a list of

[2020-05-04 23:54] #667 closed, assigned to BarnyShergold

[2020-05-14 16:19] BaDos opened #729 "[Investigation] Indexers stuck after redeploy"
### Preconditions
Looks like after killing processes before deploy phase some indexers can be stuck.

There is more information from community slack: https://magentocommeng.slack.com/archives/C8CBB6K9V/p1589463049184700

### Steps to reproduce

1. Try to redeploy when some indexer works

### Expected result

1. Indexers can be run

### Actual result

1. Some indexers can be stuck

Internal ticket:

[2020-05-21 02:28] ngreimel-lt opened #733 "[Feature request] Leave site in maintenance mode post-deploy"
After a Cloud deployment, additional scripts or configuration may need to take place. Sometimes the site may be non-functional until these processes are complete. It would be nice to have the option to leave the site in maintenance mode post-deploy, and let the deployer run `bin/magento maintenance:disable` to bring the site back online when appropriate.

[2020-05-21 14:46] YPyltiai commented on #733
@ngreimel-lt , you could add maintenance mode command first thing in post-deploy and do the other actions you need & disable it at the end. Didn't this flow work for you?

[2020-05-22 21:34] NadiyaS commented on #698
Hi @phoenix-bjoern,
we added workaround for case when env.php was removed on installed Magento. ece-tools will run setup:upgrade as before + run `cache:enable` command during the deployment.
See PR https://github.com/magento/ece-tools/pull/732

[2020-05-27 03:02] NadiyaS commented on #733
Hi @ngreimel-lt ,
I would even recommend to remove step on deploy phase where this mode is disabled https://github.com/magento/ece-tools/blob/develop/scenario/deploy.xml#L123 and disable it in the post-deploy script where you need it, but before `warm-up` step https://github.com/magento/ece-tools/blob/develop/scenario/post-deploy.xml#L17
You can find all information how to customize ece-tools scen

[2020-05-29 19:59] NadiyaS commented on #698
Hi @phoenix-bjoern,
PR https://github.com/magento/ece-tools/pull/732 was merged.
Do not forget to upgrade ece-tools version after our next release or you already may try this change by using develop branch.
I close this issue.
If you have other questions do not hesitate to open new ticket.

[2020-05-29 19:59] #698 closed, assigned to nobody

[2020-06-25 17:59] opepin commented on #688
@shiftedreality - I think you are missing a closing bracket
[code]

[2020-06-25 18:00] shiftedreality commented on #688
@opepin you're right, fixed

[2020-06-26 20:47] NadiyaS commented on #679
Error codes for critical errors were delivered in ece-tools v.2002.1.1.
The rest of codes for warning errors were implemented in https://github.com/magento/ece-tools/pull/744 and will be delivered later.
Our documentation about error codes - https://devdocs.magento.com/cloud/reference/error-codes.html

This issue may be closed as done

[2020-06-26 20:47] #679 closed, assigned to nobody

[2020-06-28 15:05] ipascual opened #752 "Required parameter "name" is not provided"
### Preconditions
1. Install Magento2 Commerce 2.3.5-p1
2. Install ece-tools 2002.1.1

### Steps to reproduce
1. vendor/bin/ece-docker build:compose --mode="developer" --sync-engine="mutagen" --with-xdebug --expose-db-port=3306

### Expected result
1. docker-composer.yaml created

### Actual result
1.   Required parameter "name" is not provided
![Screen Shot 2020-06-28 at 10 04 45 AM](https://user

[2020-07-03 05:55] mbrioski opened #753 "Possibility to execute tests"
**Is your feature request related to a problem? Please describe.**
In the optic of having a more defined continuous integration pipeline, in the deployment could be really helpful having the possibility to execute _unit tests_, _integration tests_ and _functional tests_

**Describe the solution you'd like**
In the post deploy phase, we can have one, two or three new commands to execute tests only

[2020-07-06 16:34] YPyltiai commented on #753
Hi @mbrioski ,

Thanks for posting the feature request. We will review it and come back with additional questions if those arise.

Thanks,
Yevhenii

[2020-07-10 20:57] magento-engcom-team opened #758 "Test Git/Jira sync"

[2020-07-10 20:57] magento-engcom-team commented on #758
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6431

[2020-07-13 15:52] #758 closed, assigned to nobody

[2020-07-21 19:55] magento-engcom-team opened #762 "[TEST] DO NOT TOUCH"
Tests

[2020-07-21 19:55] magento-engcom-team commented on #762
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6419

[2020-07-22 16:12] slavvka commented on #762
@magento I am working on it

[2020-07-28 20:20] shiftedreality commented on #688
More advanced example in case you want cron jobs run every 5 minutes on integration environments:

[code]

[2020-07-31 18:51] #762 closed, assigned to nobody

[2020-08-13 10:39] phoenix-bjoern commented on #697
@shiftedreality @YPyltiai We can either use `bin/magento` or the config writer to set the http_cache_hosts to the `app/etc/env.php`. But what about the configuration of the varnish hostname? Would it be part of
MAGENTO_CLOUD_RELATIONSHIPS ? Maybe like this:
[code]

[2020-09-29 14:58] aboritskiy opened #783 "Possibility to run cache warm up also with activated basic http auth"
**Is your feature request related to a problem? Please describe.**
If production or staging env is behind basic http auth - cache warm up will fail cause it will not get access to the server.
This makes it problematic to test if cache warm up actually works which preparing the website for go live without granting access to general public.

**Describe the solution you'd like**
One can pass `auth` c

[2020-09-29 15:28] aboritskiy commented on #783
just tried that - it is not easy for the env that is behind Fastly, what will be the real container IP when it will hit the host?  Is that container IP static? All those are shaky assumptions and better way is to allow passing basic http auth through.

[2020-10-05 15:11] YPyltiai opened #785 "Adjust SCD Process & Variables to Work with New SCD Improvements"
Once https://github.com/magento/magento2/pull/30090 is merged, we need to adjust ECE-Tools default SCD process and variables to account for changes for new Magento versions:
- We should be able to configure the updated SCD flow leaving current one as default for now;
- We should consider back-porting changes to earlier version if possible;
- Ideally would be to add automation to test SCD speed so

[2020-10-07 15:17] ihor-sviziev commented on #785
👍

[2020-10-26 17:36] NadiyaS commented on #461
Internal ticket is https://jira.corp.magento.com/browse/MCLOUD-2549

[2020-10-26 17:53] NadiyaS commented on #678
Internal ticket https://jira.corp.magento.com/browse/MCLOUD-5532 is done.
Issue is closed as resolved.

[2020-10-26 17:53] #678 closed, assigned to nobody

[2020-10-26 18:08] NadiyaS commented on #697
Hi @phoenix-bjoern
`MAGENTO_CLOUD_RELATIONSHIPS` is not configured by ece-tools on cloud environments, but you may set your own environment variable (e.g. `CUSTOM_CONNECTIONS`) which has the same structure as `MAGENTO_CLOUD_RELATIONSHIPS` with all service's connections and ece-tools will read data from your variable instead of MAGENTO_CLOUD_RELATIONSHIPS. For this you need to redefine the name of

[2020-10-26 18:10] NadiyaS commented on #701
Internal ticket https://jira.corp.magento.com/browse/MCLOUD-5563 is done.
Issue is closed as resolved

[2020-10-26 18:10] #701 closed, assigned to nobody

[2020-10-26 18:22] NadiyaS commented on #733
Hi @ngreimel-lt,

As your request does not require changes in ece-tools and only adding custom scenarios, I close this issue.
Feel free to open new issue if you have new proposals of meet any issue.
For any questions you also may use our [Magento Commerce Cloud Channels](https://opensource.magento.com/slack-channels)

[2020-10-26 18:22] #733 closed, assigned to nobody

[2020-10-26 20:37] NadiyaS commented on #512
@magento export issue to Jira project MCLOUD as Task

[2020-10-26 21:25] NadiyaS commented on #512
@magento export issue to Jira project MCLOUD as Task

[2020-10-26 22:07] NadiyaS commented on #512
@magento export issue to Jira project MCLOUD as Task

[2020-10-26 22:07] magento-engcom-team commented on #512
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7179) is successfully created for this issue.

[2020-10-29 04:37] magento-engcom-team opened #786 "Add ES to compatibility service version validator"
ES is not included to the list of services for version compatibility with Magento <https://github.com/magento-commerce/ece-tools/blob/develop/src/Config/Validator/Deploy/ServiceVersion.php#L62>

Need to check that whether this validation is implemented in another step, otherwise add ES to service version validator

[2020-10-29 04:37] magento-engcom-team commented on #786
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-7193

[2020-10-29 16:35] YPyltiai commented on #729
@BaDos , did you have a chance to look into it?

[2020-11-02 21:52] andriyShevtsov commented on #786
QA approved

[2020-11-09 21:30] #786 closed, assigned to nobody

[2020-11-10 13:30] samc2810 opened #787 "Ece-tools Upgrade to 2002.1.3 breaks the environment with Search engine "elasticsuite""
### Preconditions

1. Magento cloud 2.4.1
1. ece-tools 2002.1.3
1. elasticsuite latest

### Steps to reproduce
1. Just deploy an upgraded composer.lock

### Expected result

1. Deployment is normal

### Actual result

1. ![image](https://user-images.githubusercontent.com/1092318/98680060-2c7b2580-2361-11eb-886d-e76e3130bec0.png)
Ece-tools fails the deployment with message that elasticseach require

[2020-11-15 13:14] ihor-sviziev commented on #785
Pull request to magento2 repo was already merged, so we can already work on implementing support in ece tools

[2020-11-16 17:57] NadiyaS commented on #787
@magento export issue to Jira project MCLOUD as Bug

[2020-11-16 17:57] magento-engcom-team commented on #787
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7283) is successfully created for this issue.

[2020-11-16 17:59] NadiyaS commented on #787
Hi @samc2810,
thank you for reporting this issue. Created internal issue is MCLOUD-7283

[2020-11-16 18:10] NadiyaS commented on #785
@magento export issue to Jira project MCLOUD as Task

[2020-11-16 18:10] magento-engcom-team commented on #785
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7284) is successfully created for this issue.

[2020-11-27 02:16] NadiyaS commented on #787
Hi @samc2810 ,
this issue was fixed, please upgrade ece-tools to 2002.1.4 version.
I close this issue as solved.

[2020-11-27 02:16] #787 closed, assigned to nobody

[2020-12-31 07:09] manaftryzens opened #791 "Unlock cron jobs in-appropriate comments"
**Unlock cron job says it update the running jobs as missed**
https://github.com/magento/ece-tools/blob/develop/src/Step/Deploy/UnlockCronJobs.php says it updates the cron jobs from running status to "missed" status. But it actually updates them as "error"

**Modify the comments**
Modify the comments at https://github.com/magento/ece-tools/blob/develop/src/Step/Deploy/UnlockCronJobs.php , as it sh

[2021-01-11 20:07] #671 closed, assigned to nobody

[2021-01-11 20:18] #461 closed, assigned to nobody

[2021-01-29 23:08] #785 closed, assigned to nobody

[2021-01-31 06:08] ihor-sviziev commented on #785
@YPyltiai was this fixed?

[2021-02-01 20:54] NadiyaS commented on #785
hi @ihor-sviziev
Ece-tools supports that feature (for now in developer branch only). It will be delivered in next release. See https://github.com/magento/ece-tools/commit/5323bf5c38636f15a0a5766b20e2f0bbec6b91af

[2021-02-02 04:31] ihor-sviziev commented on #512
@NadiyaS, any info on why this issue was closed?

[2021-02-02 14:00] shiftedreality commented on #512
@ihor-sviziev we have another work going around Git installation from OpenSource (https://www.youtube.com/watch?v=P6lbHZa-uPo&feature=youtu.be) and wrongly assumed it duplicates this ticket.

I've re-opened this ticket for Composer-based installation of Magento OS

[2021-03-17 11:27] ivanaugustobd opened #794 "Where is the fpm slowlog located?"
Sorry for issuing a doubt here, but I've already search a lot on [Dev Docs](https://devdocs.magento.com/cloud/docker/docker-containers.html) about this and even tried to find it manually inside the ece-tools containers and _vendor_ folder trough `find` and `grep`, but nothing. Only MySql, ElasticSearch and Redis slowlog info shows up. Where is the php-fpm container slowlog located?

[2021-03-17 11:28] ivanaugustobd commented on #794
Oh, and I've tried to search it on [Docker Hub](https://hub.docker.com/r/magento/magento-cloud-docker-php) and issues tab here too (including the closed ones)

[2021-04-19 20:38] ivanaugustobd commented on #794
Will be nice to add info about this in _https://devdocs.magento.com/cloud/project/log-locations.html#service-logs_ if it exists/is supported natively (I'm still trying to find some way to setup it, if/when I find I can update there)

[2021-06-02 16:57] navarr opened #796 "Feature Request: Log deployments in New Relic"
**Is your feature request related to a problem? Please describe.**
When viewing logs in New Relic to find when an issue started, or looking at performance issues, it's useful for me to know when deployments were.

**Describe the solution you'd like**
I would like it if, after deploying to production, a Deployment was added to NewRelic (including the commit hash and, if possible, a changelog genera

[2021-06-16 16:10] osrecio opened #797 "Composer 2 is not supported"
Have you plan to support Composer 2?

Refering to this requirement: https://github.com/magento/ece-tools/blob/2002.1/composer.json#L19

[2021-07-20 15:03] oshmyheliuk commented on #797
Hi @osrecio ,
Thank you for creating an issue.
We already have an internal ticket to add Composer 2 support it will be done before the next release.

[2021-08-06 19:59] hardyjohnson commented on #797
Can this be closed with the support being released? https://devdocs.magento.com/cloud/release-notes/ece-release-notes.html#v200217

[2021-08-06 20:19] oshmyheliuk commented on #797
@hardyjohnson thanks, closed

[2021-08-06 20:19] #797 closed, assigned to nobody

[2021-08-26 12:24] leonhelmus opened #798 "ECE tools ComposerFile check not compatible with M2.4.3"
When deploying to a feature environment with parent integration i get the following error:
`CRITICAL: [9] Required configuration is missed in autoload section of composer.json file.
    Add ("Laminas\Mvc\Controller\: "setup/src/Zend/Mvc/Controller/") to autoload -> psr-4 section and re-run "composer update" command locally. Then commit new composer.json and composer.lock files.`, but when i look i

[2021-08-27 07:07] igorwulff commented on #798
Can this be given high priority? Since a vanilla Magento 2.4.3 installation will now break for Magento Cloud deployments.

[2021-08-27 08:16] leonhelmus commented on #798
I created a PR to resolve this issue: https://github.com/magento/ece-tools/pull/799

[2022-01-13 12:19] glo45343 opened #803 "php 8.1 support"
vendor/bin/ece-tools build

Fatal error: During inheritance of ArrayAccess: Uncaught RuntimeException:
Deprecated Functionality: Return type of Illuminate\Config\Repository::offsetExists($key)
should either be compatible with ArrayAccess::offsetExists(mixed $offset): bool,
 or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress
the notice in /var/workspace/vendor/illumina

[2022-02-21 06:35] glo45343 commented on #803
Problem 1
    - Root composer.json requires magento/ece-tools >=2002.1.8 -> satisfiable by magento/ece-tools[2002.1.8].
    - magento/ece-tools 2002.1.8 requires php ^7.1.3 -> your php version (8.1.2) does not satisfy that requirement.

[2022-03-01 11:16] phoenix-bjoern opened #804 "redis-cli dependency introduced again"
In MAGECLOUD-5147 the dependency for redis-cli has been removed. However in MCLOUD-7694 (commit
defa33a2177511b480e899b80449b3da99f4a602) it has been introduced again.
Please refactor MCLOUD-7694 again as redis-cli is not an official dependency for Magento and Credis should be used instead to detect the Redis version.

[2022-04-08 16:57] phoenix-bjoern opened #805 "Cache is flushed multiple times during deployment"
The deploy scenario clears caches in the "pre-deploy" and "deploy-complete" steps (see https://github.com/magento/ece-tools/blob/develop/scenario/deploy.xml). In MAGECLOUD-1203 (#80) an additional "clean-cache" step is added to the update step for no reason (see deploy.xml in commit https://github.com/magento/ece-tools/commit/c5fe5aff8c489a2e0887d5fe2b1813de5a1c35e6).

While this unnecessarily cac

[2022-04-22 22:02] JosephLeedy opened #807 "ElasticSuite Integrity Check Is Not Compatible With OpenSearch"
### Preconditions

1. ECE Tools 2002.1.10
1. Adobe Commerce 2.4.4
2. OpenSearch 1.2
3. Valid OpenSearch configuration in YAML files
4. PHP 8.1

### Steps to reproduce

1. Deploy a 2.4.4 install configured for PHP 8.1 and OpenSearch 1.2

### Expected result

1. Deployment should complete without any errors logged

### Actual result

1. "ElasticSuite is installed without available ElasticSearch serv

[2022-04-25 12:57] leonhelmus commented on #798
This has been resolved.

[2022-04-25 12:57] #798 closed, assigned to nobody

[2022-05-10 10:30] phoenix-bjoern commented on #729
Could you please consider adding support for the new use_application_lock setting (see https://devdocs.magento.com/guides/v2.4/extension-dev-guide/indexing.html#using-application-lock-mode-for-reindex-processes)? This would help to mitigate this problem.

[2022-05-17 08:43] Vormillion opened #808 "str_replace(): Argument #3 ($subject) must be of type array|string, int given"
### Preconditions

1. Magento 2.4.4 EE
2. PHP 8.1
3. ece-tools 2002.1.10

### Steps to reproduce

1. In Platform.sh create non-master environment which is child of master.
2. Wait for deployment and error.

### Expected result

1. Deployment should pass and step "Updating secure and unsecure URLs in app/etc/env.php file" shouldn't break

### Actual result

1. Getting error message on environments

[2022-05-30 08:31] ssx commented on #807
For the life of me, I can't believe Magento have become this poor.

[2022-05-30 08:35] BarnyShergold commented on #807
@JosephLeedy - As you have supplied the solution , can you not create a PR on ECE-Tools to fix?

[2022-05-31 17:32] BaDos commented on #807
There is an internal task to fix it: MCLOUD-8767

[2022-05-31 17:35] JosephLeedy commented on #807
@BarnyShergold I could, I just did not have time to when I created this PR.

[2022-05-31 17:37] BaDos commented on #807
@JosephLeedy I'm going to apply your patch, test it and merge it to the develop branch.

If you want to create a PR - I can process it.

[2022-05-31 17:38] JosephLeedy commented on #807
Thanks @BaDos! Go ahead and do whatever you need to.

[2022-05-31 19:10] andriyShevtsov commented on #808
@andriyShevtsov  to create internal ticket

[2022-05-31 19:11] andriyShevtsov commented on #805
@BaDos  please leave comment and close

[2022-05-31 19:15] andriyShevtsov commented on #804
@andriyShevtsov create task for investigation

[2022-05-31 19:16] andriyShevtsov commented on #803
php 8.1 support added

[2022-05-31 19:16] #803 closed, assigned to nobody

[2022-05-31 19:19] andriyShevtsov commented on #796
We have this in our roadmap. Will provide details later. tickets in internal Jira isn't created yet

[2022-05-31 19:21] andriyShevtsov commented on #794
@andriyShevtsov  to figure out with infrastructure team

[2022-05-31 19:22] andriyShevtsov commented on #791
Should be fixed now

[2022-05-31 19:22] #791 closed, assigned to nobody

[2022-05-31 19:26] andriyShevtsov commented on #783
@aboritskiy  is this request still up to date?

[2022-05-31 19:31] andriyShevtsov commented on #753
@andriyShevtsov   to add explanation

[2022-05-31 19:32] andriyShevtsov commented on #717
Done

[2022-05-31 19:32] #717 closed, assigned to nobody

[2022-05-31 19:33] andriyShevtsov commented on #697
@phoenix-bjoern  is this request still actual?

[2022-06-01 05:26] phoenix-bjoern commented on #697
Yes, it is and I would be happy if this gets option gets supported in ece-tools.

[2022-06-01 05:29] phoenix-bjoern commented on #729
@andriyShevtsov Why has this issue been closed? Neither is the original problem solved nor has the new option use_application_lock been implemented. By closing this issue you just ignore the fact that indexation stays in a bad state after deployment and ece-tools doesn’t try to help with it.

[2022-06-04 12:51] phoenix-bjoern commented on #808
I was able to fix this issue by making sure there is a "http://{default}/" route in `.magento/routes.yaml`. So there is probably an issue with the MAGENTO_CLOUD_ROUTES variable.
However, I think the code should not assume anything and gracefully handle the situation (or echo an error/hint).

[2022-06-06 14:40] BaDos commented on #807
@JosephLeedy the fix was merged to the develop branch
Please check it, if need feel free to reopen this issue
Thank you for your contribution

[2022-06-06 14:40] #807 closed, assigned to BaDos

[2022-06-06 14:42] JosephLeedy commented on #807
Thanks @BaDos!

[2022-06-07 07:36] phoenix-bjoern opened #809 "RabbiMQ validation: Hard dependency on package manager for version check"
During deployment the RabbitMQ version gets validated. This is done by `dpkg -s rabbitmq-server | grep Version`. This adds a hard dependency on a) Debian package manager (excluding RHEL/CentOS and container setups) and b) an installation of RabbitMQ on the web server, which in high scale setups usually runs on a separate server/container.

While the version check outputs only a warning, the versio

[2022-06-29 19:31] BaDos commented on #805
Hi @phoenix-bjoern
We need to keep this step because when users try to configure the DB connections, for example, to another service it causes failure without cache cleaning. The cache has old connection information.

[2022-06-29 19:31] #805 closed, assigned to BaDos

[2022-06-29 19:43] BaDos commented on #808
@phoenix-bjoern could you provide `.magento/routes.yaml` to reproduce it?
Just remove this section?
[code]

[2022-06-29 19:47] BaDos commented on #809
It will be done with https://github.com/magento/ece-tools/issues/804

[2022-06-29 19:48] BaDos commented on #808
The internal task MCLOUD-8941 was created

[2022-06-29 19:49] BaDos commented on #804
The internal task MCLOUD-8940 was created

[2022-06-29 19:49] BaDos commented on #809
The internal task MCLOUD-8940 was created

[2022-07-18 12:08] ssx opened #811 "Cron being disabled in 2.4.4 environments"
We've had a few environments now where the cron is ended up being disabled close to deployments.

It's only happening with sites that have gone up to 2.4.4 as far as I can tell.

re-enabling the cron with `vendor/bin/ece-tools cron:enable` everything kicks back in and works again.

My workaround for the moment is the add a second cron task to `.magento.env.yaml` to re-enable it every five minutes

[2022-07-20 19:16] BaDos commented on #811
Hi @ssx
We have created an internal task to investigate and fix this issue: MCLOUD-8999
Thank you!

[2022-07-21 05:26] ssx commented on #811
@BaDos no problem, i appreciate it'll be a difficult one to track down.

[2022-08-02 12:42] navarr opened #812 "Log shows errors that mount overlaps with non-empty folder"
It's common that Magento installations have files in app/etc, pub/media, var/ and other writeable directories that are kept mounted.  Platform.sh shows a warning when this happens, as these files would not ordinarily be available.

Magento, during the build process, moves these files to a directory so that they can be copied back into the mount afterwards.

**However**, it does not then _remove_ t

[2022-08-03 15:23] BaDos commented on #812
@navarr hello,
it can be ignored because ece-tools uses the `./init` folder to transfer files between phases.
it is an issue with low priority, the internal task will be created

[2022-08-31 12:02] aboritskiy commented on #783
@andriyShevtsov I think it is still up to date, as far as I know, cache warm up still breaks if website is behind basic auth.

[2022-08-31 15:11] BaDos commented on #812
We have the internal task for that MCLOUD-8958

[2022-09-06 21:19] BaDos commented on #783
The internal task MCLOUD-9281 was created

[2022-09-19 02:48] aligent-lturner commented on #811
We have seen this happen also, but it appears to be an issue whereby the cron is disabled during deployment, and not subsequently re-enabled at the end of the deployment.
The result is `app/etc/env.php` still contains the array entry:
[code]
Deployment logs do not indicate any error with the re-enabling, so either there was an error that got ignored, or another step/process updated the file soon a

[2022-09-19 07:16] ssx commented on #811
Yep, that's identical to what I've seen.

[2022-09-19 07:17] ssx commented on #811
I should add - it also appears to be happening on 2.4.5 too.

[2022-09-19 18:20] BaDos commented on #811
@ssx @aligent-lturner
We found that there was a wrong path in opcache blacklist.
Please check that you have this fixed path https://github.com/magento/magento-cloud/blob/master/op-exclude.txt#L2
And check that your php.ini has this line https://github.com/magento/magento-cloud/blob/master/php.ini#L42

Please leave feedback if it helps.

[2022-09-20 07:00] ssx commented on #811
I have an idea of what causes this - for us it was environments that have upgraded from starter to pro, the op-exclude.txt file just wasn't present in the reply which caused this issue to show.

[2022-09-20 07:01] ssx commented on #811
@aligent-lturner by any chance was your env an upgraded one?

[2022-09-20 13:02] BaDos commented on #811
@ssx so, did adding the op-exclude.txt file and editing the php.ini fix this issue for you?

[2022-09-20 13:14] ssx commented on #811
appears to have solved it so far.

`op-exclude.txt` wasn't present in the repo for us - whether that's due to an old cloud project or the fact it started life as a `starter` package I'm not sure.

[2022-09-20 16:05] BaDos commented on #811
@ssx maybe you just had the old template.
I'm going to add a validator to ece-tools to check opcache configuration.

Can I close this issue?

[2022-09-20 23:15] aligent-lturner commented on #811
`op-exclude.txt` was present in our case, but had the incorrect value. Updating it appears to have resolved the issue.

[2022-09-21 04:40] #811 closed, assigned to BaDos

[2022-09-21 04:41] BaDos commented on #811
@ssx @aligent-lturner thank you for your help!

I will close this issue.
If you face this problem again, please reopen the issue.

[2022-09-21 11:16] IgorVitol commented on #811
@BaDos @ssx @aligent-lturner The root cause is different.

1. After deployment (deploy hook, which you can trigger even locally), the next lines is removed from env.php
![image](https://user-images.githubusercontent.com/4457354/191490179-6b05dc8f-0c71-40e1-ada0-c83e415bd4cf.png)

2. When any graphql endpoint called, next method is used:
`\Magento\GraphQlCache\Model\CacheId\CacheIdCalculator::getSa

[2022-09-21 15:47] BaDos commented on #811
@IgorVitol
We had the wrong path in the opcache blacklist and that's a fact.
Regarding the behavior of Magento, please open a bug there https://github.com/magento/magento2/issues

Thank you!

[2022-09-22 08:31] IgorVitol commented on #811
@BaDos But what about removing graphql cache-related lines in **env.php** (which Magento2 is adding) during deploy hook execution? You want this to be reported as the Magento 2 issue "to not store the flags under 'cache' key"? As an alternative option **ece-tools** could just preserve it during deploy.

[2022-09-22 19:13] BaDos commented on #811
@IgorVitol you are right. If this key is present in env.php, ece-tools should keeps it.
I will create an internal task.

[2022-11-02 00:51] BaDos commented on #811
@IgorVitol it was fixed in the latest release 2002.1.13